.header {
  font-family: "Special Elite";
  text-align: center;
  padding-top: 50px;
}

.description {
  text-align: center;
}

.postList {
  display: flex;
  flex-flow: column;
  gap: 20px;
  margin: auto auto 40px auto;
}