.box {
  background: var(--secondary);
  padding: 16px;
  border-radius: 5px;
  box-shadow: var(--shadow);
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 15fr;
  align-items: center;
}

.box svg {
  height: 40px;
  width: 40px;
}

.box p {
  margin: 0;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

@media screen and (max-width: 800px) {
  .box svg {
    height: 16px;
    width: 16px;
  }

  .box p {
    max-width: 70vw;
    font-size: 1rem;
  }

  .box a {
    overflow-wrap: break-word;

  }
}