.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px; 
}

.button {
  height: 40px;
  width: 40px;
  background: var(--secondary);
  border: 1px solid var(--darkBackground);
  border-radius: 10px;
  transition: filter 0.2s;
  box-shadow: var(--shadow);
}

.button:hover, .button:focus {
  cursor: pointer;
  filter: brightness(0.8);
}