.bigHeader {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

.smallHeader {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.fullPageContainer {
  height: calc(100vh - var(--navHeight));
  width: 100%;
  margin-top: var(--navHeight);
}

.fullPageContainerContent {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homeLink {
  font-size: 1rem;
}

@media screen and (max-width: 800px) {
  .bigHeader {
    font-size: 2.5rem;
  }

  .smallHeader {
    font-size: 1rem;
  }

  .homeLink {
    font-size: 0.9rem;
  }
}